@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* GENERALES -------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: rgb(103,170,206);
  background: linear-gradient(90deg, rgba(103,170,206,1) 28%, rgba(204,228,241,1) 100%);
  /* background: rgb(103, 170, 206); */
}
.contenedor {
  width: 98%;
  margin: auto;
  /* border: 1px solid black; */
}

section {
  width: 100%;
  margin-bottom: 25px;
  padding-top:2em;
}

#clientes-proveedores {
  padding: .5em;
  display: flex;
  flex-direction: column;

}


@media (min-width:768px) { 
  #clientes-proveedores {
    flex-direction: row;
  }
}


/* GENERALES -------------------------------------*/

/* HEADER -------------------------------------*/

header {
  width: 100%;
  height: 70px;
  background: #fff;
  color:  rgb(45, 43, 125);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header img {
  height: 68px;
}

header .contenedor {
  display: table;
}

/* HEADER -------------------------------------*/

/* BIENVENIDOS SECTION -------------------------------------*/

#bienvenidos {
  margin-top: 50px;
  position: relative;
  width: 100%;
}

#bienvenidos .contenedor .bomba-index {
  width: 70%;
  max-width: 500px;
}

#bienvenidos .contenedor .subtitle {
  margin-top: 1em;
}

#bienvenidos {
  text-align: center;
}
/* BIENVENIDOS SECTION -------------------------------------*/

/* CLIENTES SECTION -------------------------------------*/


#clientes h3 {
  text-align: center;
}

#clientes .contenedor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  height: 250px;
  max-width:300px;
}

#clientes img {
  width: 100%;
  max-height: 200px;
  /*
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.42); 
  box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.42);
  */
}
/* CLIENTES SECTION -------------------------------------*/


/* PROVEEDORES SECTION -------------------------------------*/

#proveedores h3 {
  text-align: center;
}

#proveedores .contenedor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  height: 250px;
  max-width:300px;
}

#proveedores img {
  width: 100%;
  max-height: 200px;
  /*
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.42); 
  box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.42);
  */
}

.proveedores-tag-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em;
}

.proveedores-tag-container div {
  margin-bottom: 1em;
}
.proveedores-tag-container div span{
  border-radius: 10px ;
}

/* PROVEEDORES SECTION -------------------------------------*/

/* PRODUCTOS SECTION -------------------------------------*/

#productos {
  background: #fff;

}
#productos h4 {
  text-align: center;
  margin: 0;
  background-color: rgb(80, 172, 233);;
  color: #fff;
  padding: .5em;
  font-size: 1.25em;
}


#productos h3 {
  text-align: center;
  margin-bottom: 1em;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .product-container {
  background-color: #fff;
  margin-bottom: 2em;
  max-width: 300px;
  width: 95%;
  height: 480px;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.42); 
  box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.42);
}

@media (min-width:768px) { 
  .products-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .product-container{
    margin-right: 2em;
  }

}

/* PRODUCTOS SECTION -------------------------------------*/

/* CONTACTO SECTION -------------------------------------*/
#contacto {
  background-color: #fff;
  padding-bottom: 1em;
}

#contacto h3, #contacto p, #contacto a {
  text-align: center;
  margin-bottom: 1em;
} 

.mapouter .gmap_canvas iframe{
  display:block;
  margin:auto;
  width:95%;
  height:400px
}

.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:30px;
	right:30px;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:0px;
}

/* CONTACTO SECTION -------------------------------------*/

footer .contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 25px;
}

.copy {
  font-size: 20px;
}

.sociales {
  width: 100%;
  text-align: center;
  font-size: 28px;
}

.sociales a {
  color: #333;
  text-decoration: none;
}

@media (min-width:768px) { 
  .sociales {
    width: auto;
  }
  
  footer .contenedor {
    justify-content: space-between;
  }
}


@media (min-width:1024px) {
  .contenedor {
    width: 1024px;
  }
}




/* SLIDESHOWs SECTION -------------------------------------*/

/* Slideshow container */
.slideshow-container {
  margin: auto;
}


/* Next & previous buttons */
.prev-next-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex ;
  justify-content: space-around;
  align-items: center;

}

.prev-next-product .prev,
.prev-next-product .next {
  color: rgb(80, 172, 233);
}

.prev, .next {
  cursor: pointer;
  color: rgb(92, 92, 92);
  font-weight: bold;
  font-size: 3em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(236, 234, 234, .7);
}


/* Caption text */
.text {
  color: #1a1919;
  background-color: #fff;  
  font-size: 15px;
  padding: .5em;
  bottom: 8px;
  width: 100%;
  height: 100px;
  text-align: center;
  /*border: 1px solid black;*/

}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.product-fade{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-fade img {
  min-height: 0; 
  height: 310px;
  /*border: 1px solid black;*/

}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* SLIDESHOWs SECTION -------------------------------------*/


#menu-bar {
  display: none;
}

header label {
  float: right;
  font-size: 28px;
  margin: 18px 0;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.5s;
  transform: translateX(-100%);
}

.menu a {
  display: block;
  color: rgb(7, 7, 7);
  height: 50px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(12, 12, 12, 0.3);
}

.menu a:hover {
  background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu {
  transform: translateX(0%);
}

@media (min-width:1024px) {
  .menu {
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex;
    margin-top: 9px;
  }
  
  .menu a {
    border: none;
  }
  
  header label { 
    display: none;
  }
}
